[Unit]
Description=Renew certificates acquired via Certbot(With hooks for proccessing ZNC)
Documentation=https://eff-certbot.readthedocs.io/en/stable/

[Service]
Type=oneshot
ExecStart=/root/do_lets_encrypt.sh renew
PrivateTmp=true

