[Unit]
Description=Harbor-wave Metadata RunOnce
After=network.target
After=local-fs.target
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=True
ExecStart=/root/init_snowflake.sh

[Install]
WantedBy=multi-user.target
